@model CI_Platform.Entities.AdminModels.MissionView;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/CRUD.css" />
    <title>Admin Dashboard</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background-color: #F88634;">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase">Navigation</div>
            <div class="list-group list-group-flush my-3">
                <button onclick="location.href='@Url.Action("Users", "Admin")'" id="#user" class="list-group-item list-group-item-action second-text @(ViewBag.nav == 1? "active":" bg-transparent")">
                    <i class="bi bi-person-fill me-2"></i>User
                </button>
                <button onclick="location.href='@Url.Action("CMS", "Admin")'" id="#cmspage" class="list-group-item list-group-item-action  second-text @(ViewBag.nav == 2? "active":" bg-transparent")" ">
                    <i class="bi bi-file-earmark-text-fill me-2"></i>CMS Page
                </button>
                <button onclick="location.href='@Url.Action("Mission", "Admin")'" id="#mission" class="list-group-item list-group-item-action   second-text @(ViewBag.nav == 3? "active":" bg-transparent")">
                    <i class="bi bi-bullseye me-2"></i>Mission
                </button>
                <button onclick="location.href='@Url.Action("Theme", "Admin")'" asp-action="Theme" asp-controller="Admin" id="#theme" class="list-group-item list-group-item-action   second-text @(ViewBag.nav == 4? "active":" bg-transparent")">
                    <i class="bi bi-grid-1x2-fill me-2"></i>Mission Theme
                </button>
                <button onclick="location.href='@Url.Action("Skill", "Admin")'" asp-action="Skill" asp-controller="Admin" id="#skill" class="list-group-item list-group-item-action   second-text @(ViewBag.nav == 5? "active":" bg-transparent")">
                    <i class="bi bi-tools me-2"></i>Mission Skill
                </button>
                <button onclick="location.href='@Url.Action("Application", "Admin")'" asp-action="Application" asp-controller="Admin" id="#application" class="list-group-item list-group-item-action   second-text @(ViewBag.nav == 6? "active":" bg-transparent")">
                    <i class="bi bi-folder-fill me-2"></i>Mission Application
                </button>
                <button onclick="location.href='@Url.Action("Story", "Admin")'" asp-action="Story" asp-controller="Admin" id="#story" class="list-group-item list-group-item-action   second-text @(ViewBag.nav == 7? "active":" bg-transparent")">
                    <i class="bi bi-bookmark-star-fill me-2"></i>Story
                </button>
                <button onclick="location.href='@Url.Action("Banner", "Admin")'" asp-action="Banner" asp-controller="Admin" id="#banner" class="list-group-item list-group-item-action   second-text @(ViewBag.nav == 8? "active":" bg-transparent")">
                    <i class="bi bi-book-fill me-2"></i>Banner Management
                </button>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-2 px-2 adminnavbar">
                <div class="d-flex align-items-center">
                    <img src="/CI-Imgs/menu-bar.svg" class=" primary-text fs-4 me-3" alt="" id="menu-toggle" />
                    <p class="m-0" id="dashboadtime"></p>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/CI-Imgs/user-img-large.png" alt="" class="adminimg" />
                                John Doe
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid px-4">
                <div id="content">
                    <section id="mission" class="row my-3 content-section">
                        <div class="border-bottom">
                            <span class="text-muted fs-4" style="border-bottom: 3px solid black !important; padding-bottom:2px;">Mission</span>
                        </div>
                        <div class="modal fade" id="exampleModalmissionadd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <form asp-area="Admin" asp-controller="Admin" asp-action="Mission">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body usermodalbody">
                                            <div class="container-fluid p-0">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <label for="title">Mission Title</label>
                                                        <input type="text" class="form-control" placeholder="Enter title">
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="short description">Mission Short Description</label>
                                                        <input type="text" class="form-control" placeholder="Enter short description">
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="organization name">Mission Organisation Name</label>
                                                        <input type="text" class="form-control" placeholder="Enter organization name">
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="description">Mission Description</label>
                                                        <textarea name="editor2" class="form-control"></textarea>
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="country">Country</label>
                                                        <Select class="form-control form-select" name="CountryId" asp-for="CountryId">
                                                            <option value=""></option>
                                                            @foreach (var item in Model.countries)
                                                            {
                                                                <option value="@item.CountryId">@item.Name</option>
                                                            }
                                                        </Select>
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="city">city</label>
                                                        <Select class="form-control form-select">
                                                            <option value=""></option>
                                                            @foreach (var item in Model.citys)
                                                            {
                                                                <option value="@item.CityId">@item.Name</option>
                                                            }
                                                        </Select>
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="organization detail">Mission Organisation Detail</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="sdate">Mission start date</label>
                                                        <input type="date" class="form-control" placeholder="Enter start date">
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="edate">Mission end date</label>
                                                        <input type="date" class="form-control" placeholder="Enter end date">
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="type">Mission Type</label>
                                                        <input type="text" class="form-control" placeholder="Enter mission type">
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="seats">Total Seats</label>
                                                        <input type="text" class="form-control" placeholder="Enter seats">
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="deadline">Mission Deadline</label>
                                                        <input type="date" class="form-control" placeholder="Enter deadline if mission is time base">
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="theme">Mission Theme</label>
                                                        <select class="form-control form-select">
                                                            <option value=""></option>
                                                            @foreach (var item in Model.missionThemes)
                                                            {
                                                                <option value="@item.MissionThemeId">@item.Title</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="availability">Mission Availability</label>
                                                        <select class="form-control form-select">
                                                            <option></option>
                                                            <option value="Daily">Daily</option>
                                                            <option value="Weekly">Weekly</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="image">Mission Images</label>
                                                        <input type="file" id="missionimg" class="form-control" name="images[]" multiple>
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="documents">Mission Documents</label>
                                                        <input type="file" class="form-control" name="documents[]" multiple>
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="skill">Mission Skill</label>
                                                        <div class="dropdown">
                                                            <select class="form-control form-select select" multiple aria-label="multiple select example" id="selectskills">
                                                                <option value=""></option>
                                                                @foreach (var item in Model.skills)
                                                                {
                                                                    <option value="@item.SkillId">@item.SkillName</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="video">Mission Video</label>
                                                        <textarea rows="4" class="form-control"></textarea>
                                                    </div>
                                                    <div class="col-12" id="imgpreview"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" id="btnsubmit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table id="missionrecord" class="table bg-white rounded shadow-sm  table-hover" width="100%">
                            <thead style="background-color: #F8F9FC;">
                                <tr>
                                    <th>Mission Title</th>
                                    <th>Mission Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.missions)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.MissionType</td>
                                        <td>@item.StartDate.Value.ToShortDateString()</td>
                                        <td>@item.EndDate.Value.ToShortDateString()</td>
                                        <td>
                                            <a type="button" class="border-0">
                                                <i class="bi bi-pencil-square text-warning"></i>
                                            </a>
                                            <a type="button" class="border-0 ms-2">
                                                <i class="bi bi-trash-fill text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");
        var dashboadtime = document.getElementById("dashboadtime");

        function currentTime() {
            var time = new Date();
            var dateString = time.toDateString();
            var timeString = time.toLocaleTimeString();
            dashboadtime.innerHTML = dateString + ' ' + timeString;
            let t = setTimeout(function () { currentTime() }, 1000);
        }
        currentTime();
        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };

        const menulink = document.querySelectorAll(".list-group-item");

        menulink.forEach((link) => {
            link.addEventListener('click', (event) => {
                event.preventDefault();
                menulink.forEach((link) => {
                    link.classList.remove('active');
                });
                link.classList.add('active');
            });
        });


        // missionrecord
        $(document).ready(function () {
            $('#missionrecord').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
        $('#missionrecord').DataTable({
            "ordering": false,
            "lengthChange": false,
            "pagingType": "full_numbers",
            "oLanguage": {
                "sEmptyTable": " ",
                "oPaginate": {
                    "sNext": '<i class="bi bi-chevron-right"></i>',
                    "sPrevious": '<i class="bi bi-chevron-left"></i>',
                    "sFirst": '<i class="bi bi-chevron-double-left"></i>',
                    "sLast": '<i class="bi bi-chevron-double-right"></i>',
                }
            }
        });

        // missionrecordbtn
        var missionrecordFilter = document.getElementById("missionrecord_filter");
        var button = document.createElement("button");
        button.innerHTML = `<i class="bi bi-plus">Add</i>`;
        button.classList.add("btn", "btn-outline-warning", "rounded-pill", "addbtn");
        button.setAttribute("data-bs-toggle", "modal");
        button.setAttribute("data-bs-target", "#exampleModalmissionadd")
        missionrecordFilter.appendChild(button);

        CKEDITOR.replace('editor2');


        const dataUrls = [];
        const input = document.querySelector('input[type="file"]');
        $(document).ready(function () {
            input.addEventListener('change', (event) => {
                // Get the selected files
                const files = event.target.files;
                // Loop through each file
                Array.from(files).forEach((file) => {
                    // Create a new FileReader instance
                    const reader = new FileReader();

                    // Add an event listener to the FileReader instance
                    reader.addEventListener('load', () => {
                        // Print the data URL of the image to the console
                        const id = Date.now();
                        dataUrls.push(reader.result,id);
                        addImage(reader.result,id);
                    });

                    // Read the selected file as a data URL
                    reader.readAsDataURL(file);
                });
            });

            $("#btnsubmit").click(function (e) {
                e.preventDefault();
                var selectElement = document.getElementById("selectskills");
                var selectedValues = Array.from(selectElement.selectedOptions).map(option => option.value);

                $.ajax({
                    url: '/Admin/Admin/Mission',
                    type: 'POST',
                    data: { selectedValues: selectedValues, "dataUrls": dataUrls },
                    success: function (result) {
                        // Handle success
                    },
                    error: function (xhr, status, error) {
                        // Handle errors
                    }
                });
            });
        });

        function addImage(dataUrl,id){
            const imgpreview=document.querySelector('#imgpreview');
            const imageContainer = document.createElement('div');
            const image = new Image();
            const removeButton = document.createElement('button');
            image.src = dataUrl;
            imageContainer.classList.add('image-container');
            image.dataset.id = id;
            removeButton.classList.add('remove-button');
            removeButton.innerHTML = '<span>X</span>';
            imageContainer.appendChild(image);
            imageContainer.appendChild(removeButton);
            imgpreview.appendChild(imageContainer);
            removeButton.addEventListener('click', function () {
                const index = dataUrls.findIndex(f => f.id === id);
                if (index !== -1) dataUrls.splice(index, 1);
                imageContainer.remove();
                input.value = ''; // Reset the file input field

                removeButton.addEventListener('click', function () {
                    // Find the index of the file object in the array
                    const index = dataUrls.findIndex(f => f.id === id);

                    // If the file object exists in the array, remove it
                    if (index !== -1) {
                        dataUrls.splice(index, 1);
                    }

                    // Remove the image container from the preview
                    imageContainer.remove();
                    // Reset the file input field
                    input.value = '';

                });

            });
        }
    </script>
</body>

</html>