@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CI_Platform.Models.LoginModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css">
    <title>Document</title>
</head>
<body class="mb-0">
    <div class="container-fluid m-0 p-0 w-100 contain1">
        <div class="row m-0 p-0 w-100">
            <div class="col-lg-8 col-md-8 col-sm-12 p-0">
                <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-hover="pause" data-bs-interval="2000">
                    <ol class="carousel-indicators">
                        @foreach(var item in Model.banners)
                        {
                            int index = Model.banners.IndexOf(item);
                            <li data-bs-target="#carouselCaptions" data-bs-slide-to="@index" class="@((index==0)?"active":"") indilines" aria-current="@((index==0)?"true":"false")" aria-label="Slide@(index+1)"></li>
                        }
                    </ol>
                    <div class="carousel-inner">
                        @foreach(var item in Model.banners)
                        {
                            int index = Model.banners.IndexOf(item);
                            <div class="carousel-item @((index == 0) ? "active" : "")">
                                <img class="d-block leftimg" src="@item.Image" alt="First slide">
                                <div class="carousel-caption">
                                    <h3>Sed ut perspiciatis unde omnis iste natus voluptatem.</h3>
                                    <p>@item.Text</p>
                                </div>
                            </div>
                        }
                        <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselCaptions" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                <div class="form-group ms-5">
                    <form class="ms-5 loginform" asp-controller="Home" asp-action="Login">
                        <h2>@ViewBag.Errormessage</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label asp-for="Email">Emaill Address</label>
                        <input type="text" asp-for="Email" class="form-control w-75">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <label asp-for="Password" class="mt-3">Password</label>
                        <input type="password" asp-for="Password" class="form-control w-75">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <button type="submit" class=" btn btn-lg btn-outline-warning w-75 mt-4 login">Login</button> 
                        <a asp-controller="Home" asp-action="Forget" class=" btn mt-3 lost text-decoration-none">Lost your password?</a> <br />
                        <p>Don't have an account?<a asp-controller="Home" asp-action="Registration" class="text-decoration-none"><SPan style="color: #2B64B1;"> Create an account</SPan></a></p>
                        <p class="terms">Privacy Policy</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


