
@{
    ViewData["Title"] = "Volunteering_Mission";
}
@{
    var name = Context.Session.GetString("FName");
    var avatar = Context.Session.GetString("Avatar");
    var userId = Context.Session.GetString("UserId");
    var count = ViewBag.count;
    var j = 0;
}
@model CI_Platform.Entities.Models.MissionViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/Favourite.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="navleft d-flex">
                    <a asp-controller="Home" asp-action="Story_Listing" class="text-decoration-none" style="color: black;">Story</a>
                    <div class="dropdown ms-5">
                        <a asp-controller="Home" asp-action="Policy" class="text-decoration-none" style="color: black;">Policy</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item"  asp-controller="Home" asp-action="VolunteeringTimesheet">Volunteering Timesheet</a></li>
                            <li><a class="dropdown-item" href="#">Help</a></li>
                            <li><a class="dropdown-item" href="login.html">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navright ms-auto">
                    <div class="dropdown ms-5">
                        <button class="bg-white border-0" type="button" data-bs-toggle="dropdown">
                            <img src="@avatar" alt="" class="profileimg">
                            @if (@name != null)
                                {
                                    
                                    <span>@name</span>
                              
                            }
                            <img src="../CI-Imgs/drop-down.png" class="ic-down">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="UserProfile">My Profile</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="VolunteeringTimesheet">Volunteering Timesheet</a></li>
                            <li><a class="dropdown-item" href="#">Help</a></li>
                            <li><a class="dropdown-item" href="login.html">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container main mt-3">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-2">
                <div class="container slidecontainer">
                    @foreach (var item in Model.missionMedia)
                    {
                        @if (Model.missionMedia != null)
                        {
                            j = j + 1;
                            <div class="mySlides">
                                <div class="numbertext">@j /@count </div>
                                <img src="@item.MediaPath" style="width:100%">
                            </div>
                        }
                    }
                    
                    <!-- Next Prev Button -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    <!-- Thumbnail img -->
                    <div class="row mt-2">

                        @foreach (var item in Model.missionMedia)
                        {
                            @if (Model.missionMedia != null)
                            {
                                j = j + 1;
                                <div class="column w-25">
                                    <img class="demo cursor" src="@item.MediaPath" style="width:100%" onclick="currentSlide(j)" alt="The Woods">
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="sidetitle">
                    <h3>@ViewBag.Missions.Title</h3>
                    <p>@ViewBag.Missions.ShortDescription</p>
                </div>
                @if (ViewBag.Missions.MissionType == "goal") {
                    <div class="sidebadge d-flex">
                        <hr class="w-50">
                        <div class="contbadge text-center">
                            <p class="p-2">@ViewBag.GoalVal.GoalObjectiveText</p>
                        </div>
                        <hr class="w-50">
                    </div>
                    <div class="seats d-flex">
                        <div class="userseat d-flex">
                            <img src="../CI-Imgs/Seats-left.png" alt="" style="width:50px;height:50px;">
                            <p>10 seats left</p>
                        </div>
                        <div class="progressdiv w-25 d-flex">
                            <div class="progressimg">
                                <img src="../CI-Imgs/mission.png" alt="">
                            </div>
                            <div class="progressbarcont w-75">
                                <div class="progress ms-1">
                                    <div class="progress-bar" role="progressbar" style="width: @ViewBag.GoalVal.GoalValue%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="ms-1">@ViewBag.GoalVal.GoalValue Achived</p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="sidebadge d-flex">
                        <hr class="w-50">
                        <div class="contbadge">
                            <p class="p-2 contbadgetext">From @ViewBag.Missions.StartDate?.ToString("yyyy-mm-dd") To @ViewBag.Missions.EndDate?.ToString("yyyy-mm-dd")</p>
                        </div>
                        <hr class="w-50">
                    </div>
                    <div class="seats d-flex">
                        <div class="userseat d-flex">
                            <img src="../CI-Imgs/Seats-left.png" alt="" style="width:40px;height:40px;">
                            <p>@ViewBag.Missions.SeatsAvailable seats left</p>
                        </div>
                        <div class="hours d-flex ms-auto mb-3">
                            <img src="../CI-Imgs/hours.png" alt="" style="width:40px;height:40px;">
                            <p>@ViewBag.Missions.EndDate?.ToString("yyyy-mm-dd")<br>Deadline</p>
                        </div>
                    </div>
                }
                <hr style="margin-top:30px;">
                <div class="favandinvibtn container row mt-4">
                    <div class="col-md-6 col-sm-12 mb-2 text-center">
                        <button type="button" class="btn btn-outline-secondary border-3" onclick="addFav(@ViewBag.Missions.MissionId,@ViewBag.userId)">
                            <i class="bi bi-heart-fill" id="favoicon" style="@(Model.isFav?"color:red;":"color:black")"></i>
                            Add to Favourite
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center dropdown">
                        <button type="button" class="btn btn-outline-secondary border-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="../CI-Imgs/heart1.png" alt="" class="bg-secondary">
                            Recommend to a Co-Worker
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Select Coworker</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body modaltext">
                                        <ul style="list-style-type:none" class="ps-0">
                                            @foreach (var items in @ViewBag.AllUsers)
                                            {
                                                <li class="dropdown-item mt-2" style="border:1px solid gray;background-color:#fafafa;">
                                                    <div style="display:flex;justify-content:space-between;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" value=@items.Email name="Checkme" /><span class="ms-1">@items.FirstName (@items.Email)</span>
                                                        </div>
                                                        <div>
                                                            <img src="@items.Avatar" style="border-radius:50%;width:35px;height:35px;" />
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="sendRec(@ViewBag.Missions.MissionId);">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebadge d-flex mt-3">
                    <hr class="w-75">
                    <div class="stars">
                        @if (ViewBag.IsApplied == true)
                        {
                            @for (var i = 1; i <= ViewBag.Prewrating; i++)
                            {
                                <i class="bi bi-star-fill ms-1" id="@i" onclick="addRating(this.id,@ViewBag.Missions.MissionId,@ViewBag.userId)" style="color:#F88634"></i>
                            }
                            @for (var i = ViewBag.Prewrating + 1; i <= 5; i++)
                            {
                                <i class="bi bi-star-fill ms-1" id="@i" onclick="addRating(this.id,@ViewBag.Missions.MissionId,@ViewBag.userId)"></i>
                            }
                        }
                        else
                        {
                            @for (var i = 1; i <= ViewBag.AvgRating; i++)
                            {
                                <i class="bi bi-star-fill" id="@i" style="color:#F88634"></i>
                            }
                            @for (var i = ViewBag.AvgRating + 1; i <= 5; i++)
                            {
                                <i class="bi bi-star-fill" id="@i" ></i>
                            }
                        }
                    </div>
                    <hr class="w-75">
                </div>
                <div class="container mt-3">
                    <div class="row w-auto">
                        <div class="col-md-3 col-sm-12 mb-2">
                            <div class="filterbox text-center">
                                <img src="../CI-Imgs/pin1.png" alt="">
                                <p>city</p>
                                <p class="filtertext">@ViewBag.City.Name</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 mb-2">
                            <div class="filterbox text-center">
                                <img src="../CI-Imgs/web.png" alt="">
                                <p>Theme</p>
                                <p class="filtertext">@ViewBag.MissionTheme.Title</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 mb-2">
                            <div class="filterbox text-center">
                                <img src="../CI-Imgs/calender.png" alt="">
                                <p>Date</p>
                                <p class="filtertext">Ongoing Opportunity</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 mb-2">
                            <div class="filterbox text-center">
                                <img src="../CI-Imgs/organization.png" alt="">
                                <p>organization</p>
                                <p class="filtertext">@ViewBag.Missions.OrganizationName</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center mt-3">
                    @if (ViewBag.IsApplied == false)
                    {
                        <a class="btn btn-outline-warning border-2 " id="applybtn" onclick="forApply(@ViewBag.Missions.MissionId)">
                            Apply Now
                            <img src="../CI-Imgs/right-arrow.png" alt="">
                        </a>
                    }
                    else
                    {
                        <a class=" btn btn-success border-2" id="appliedbtn">
                            Applied
                            <i class="bi bi-check-lg"></i>
                        </a>
                    }                    
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-8">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Comments</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h5>Introduction</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rerum, atque pariatur recusandae quidem labore itaque eum a cum consequuntur magni id nostrum dicta commodi explicabo veritatis. Maiores optio quasi velit temporibus veniam dignissimos incidunt!
                            <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolore fugit rem voluptas, accusamus amet ipsam harum earum labore, quidem deleniti distinctio fuga, esse sunt accusantium aliquid perferendis blanditiis ab perspiciatis alias dolorem cupiditate adipisci est! Maiores assumenda architecto reprehenderit quisquam earum quis tempore odit, cum eaque eius amet beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi asperiores repellendus, nesciunt, voluptatibus autem eum tenetur molestiae, iste magnam iusto doloremque obcaecati voluptatum earum culpa vel facere sit placeat unde!
                        </p>
                        <h5>Challange</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, maiores voluptate! Hic accusamus iusto recusandae eos fuga ab commodi quidem ex amet cumque dignissimos, tenetur delectus iure, modi non quia fugiat repellat ut officiis veniam inventore necessitatibus ipsum rerum. Quasi, ad quos. Beatae id tenetur voluptatum error architecto accusantium temporibus voluptatem unde officia a. Architecto animi similique ratione sapiente ex.</p>
                        <h5>Documents</h5>
                        <div class="tabdocuments container row p-0">
                            @foreach(var docs in ViewBag.Docs)
                            {
                                <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
                                    <a href="@Url.Content(docs.DocumentPath)" class="btn btn-outline-secondary" target="_blank">
                                        <img src="../CI-Imgs/pdf.png" alt="">
                                        @docs.DocumentName
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos atque nobis iste neque, sapiente modi culpa repellat eaque. Accusamus, excepturi labore ducimus qui, laborum deserunt ipsam atque exercitationem consequuntur aperiam vel, possimus alias provident.
                            <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repudiandae quas similique quos eaque ab nostrum, reprehenderit optio, fugiat qui fuga excepturi ipsum! Veniam iure animi cum laborum, deserunt odit exercitationem dolores quibusdam doloribus esse non, laboriosam nihil commodi tenetur rem! Cumque corrupti dolore hic optio blanditiis eius repellat ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequatur quam, placeat quae, voluptatem accusamus, dicta corporis magni nulla a earum! Fugiat minima optio aliquid velit? Alias eos beatae itaque. <br> <br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores doloremque quas, magni natus, libero praesentium sunt officia culpa quos sit a dolore voluptatem quis! Odit ex quisquam nostrum blanditiis consequuntur.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div id="comment-form">
                            <h4>Leave a Comment</h4>
                            <textarea id="comment-text" class="form-control"></textarea>
                            <button id="post-comment-btn" class="btn btn-secondary mt-2" onclick="addComm(@ViewBag.Missions.MissionId,@ViewBag.userId);">Post Comment</button>
                        </div>
                        <div id="comment-section">
                            <h4>Comments</h4>
                            <div id="commentfield">
                                @foreach (var comms in ViewBag.ShowComm)
                                    { 
                                        <div class="comment d-flex">
                                            <div>
                                            <img src="@comms.Avatar" class="volunimg" />
                                            </div>
                                            <div class="ms-2">
                                            <h5>@comms.FirstName</h5>
                                            <p>@comms.CommentText</p>
                                            <p>Posted on @comms.CreatedAt</p>
                                            </div>
                                        </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-4">
                <div class="information mt-2">
                    <h5 class="ms-1">Information</h5>
                    <p class="ms-1">Skills :<span class="ms-4">Cool,Easy going,Math,Computer</span></p>
                    <hr>
                    <p class="ms-1">Days :<span class="ms-4">@ViewBag.Missions.Availability</span></p>
                    <hr>
                    <p class="ms-1">
                        Rating :<span class="ms-2">
                            @for (var i = 1; i <= ViewBag.AvgRating; i++)
                            {
                                <i class="bi bi-star-fill" id="@i" style="color:#F88634"></i>
                            }
                            @for (var i = ViewBag.AvgRating + 1; i <= 5; i++)
                            {
                                <i class="bi bi-star-fill"></i>
                            }
                            (by 125 volunteers)
                        </span>
                    </p>
                </div>
                <div class="recent-volunteer mt-3" id="recentvol">
                    <partial name="RecentVol" />
                </div>
            </div>
        </div>
    </div>
    <partial name="RelatedMission" />
    <hr>
    <footer>
        <p class="ms-5">Privacy Policy</p>
    </footer>
    <script>
        function addComm(missionId,userId){
            const commentText = document.querySelector("#comment-text");
            const postCommentBtn = document.querySelector("#post-comment-btn");
            const commentSection = document.querySelector("#comment-section");
            const comment = commentText.value;
            const commentField = document.getElementById("commentfield");
            const newComment = document.createElement("div");

            console.log(missionId);
            newComment.classList.add("comment","d-flex");
            newComment.innerHTML = `
                                <div>
                                        <img src="@avatar" class="volunimg"/>
                                </div>
                                <div>
                                        <h5>@name</h5>
                                        <p>${comment}</p>
                                        <small>Posted on ${new Date().toLocaleString()}</small>
                                </div>
                            `;

            // Add the new comment to the comment section
            commentField.appendChild(newComment);

            // Clear the text box
            commentText.value = "";
            $.ajax({
                url: '/Home/AddComment',
                type: 'POST',
                data: { missionId: missionId, userId: userId, commentText: comment},
                success:function(result){
                    return true;
                }
            })
            
        }
        function forApply(missionId) {
    var beforeapply = document.getElementById("applybtn");
    var afterapply = document.getElementById("appliedbtn");
    $.ajax({
        url: '/Home/MissionApply',
        type: 'Post',
        data: { MissionId: missionId },
        success: function (result) {
            if (result.success) {
                location.reload();
            }
        }
    });
}

    </script>
    <script src="~/js/Favourite.js"></script>
    <script src="../Bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>

